
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #B1B2FF;
    border-radius: 5%;
    padding: 10px 200px;
}

.container {
    display: flex;
}

.left {
    flex: 3;
    background-color: #AAC4FF;
    padding: 20px;
}

.right {
    flex: 1;
    background-color: #D2DAFF;
    padding: 20px;
    font-size: small;
}

/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    font-size: small;
    background-color: #E4F1FF;
    text-align: left;
    margin: 0;
    padding: 20px;
}

.experience {
    font-weight: bolder;
}

.years {
    font-style: italic;
}



/* Style the header */
/* header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
} */

/* Style the main content section */
/* .main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
} */

/* Style the side column */
/* .side-column {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* Define styles for a div with class "container" */
/* .container {
    /* Your CSS rules go here 
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;} */

/* .centered {
    text-align: center;
} */
/* Style headings, paragraphs, lists, and other elements as needed */
/* You can add more specific styles here */
