@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --lora-font-family: "Lora";
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: medium;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font: var(--lora-font-family);
  font-weight: b;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3,
h4 {
  font-size: 1.2em;
  margin-bottom: 0.4em;
  color: #555;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.left,
.right {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.left {
  flex: 3;
}

.right {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.experience,
.years {
  font-weight: bold;
}

.years {
  font-style: italic;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

h4 {
  text-align: center;
}
